* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

section {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container-content {
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
  height: 93vh;
  position: relative;
}

.one {
  display: flex;
  background-image: url("img/HQ-BD-3.png");
  background-size: 1444px 1150px;
  background-repeat: no-repeat no-repeat;
  background-position: bottom;
}
.about {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  font-style: normal;
  line-height: 2em;
  font-size: 80px;
  letter-spacing: 0em;
  color: #5a5a5a;
}
.about-lead-text {
  line-height: 1.6em;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: none;
  font-size: 1.5em;
  color: #5a5a5a;
}

.logo {
  position: absolute;
  top: -2%;
  left: 0%;
  width: 300px;
}
@media (min-width: 310px) {
  .logo {
    top: 0%;
    left: -4%;
    width: 160px;
  } 
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .logo {
    left: 0%;
    width: 200px;
    top: 2%;
  }
}
@media (min-width: 992px) {
  .logo {
    top: -2%;
    left: 0%;
    width: 300px;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
/* ------------  */
.two {
  display: flex;
  /* background: rgb(211, 79, 79); */
  height: 55vh;
}

.three {
  display: flex;
  /* background: rgb(67, 91, 175); */
  height: 60vh;
}

.four {
  display: flex;
  background: lightsalmon;
}
.five {
  display: flex;
  background: deepskyblue;
}
.six {
  /* background: tan; */
}

.text-lead {
  position: relative;
  top: -40%;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  line-height: 1.4em;
  font-size: 1.5rem;
  letter-spacing: 0em;
  color: #5a5a5a;
}


.two-text-head, .two-text-body{
  text-align: center !important;
}
.two-text-head p{
  font-size: 2rem !important;
  padding-bottom: 2em !important;
  font-style: normal;
}

.two-text-body p{
  font-size: 16px !important;
}



.two-content{
  display: flex !important;
  gap: 10px;
}

.two-content > div{
  margin: 10px;
}

@media (min-width: 310px) {
  .two-content {
    display: flex !important;
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .two-content {
    display: flex !important;
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
/* -------  */


.three-content{
  display: flex !important;
  gap: 10px;
}
.three-content-first{
  text-align: center;
  padding-bottom: 7.5em;
}
.three-content-second{
  text-align: center;
  padding-top: 7.5em;
}
.three-text-head{
  font-weight: bold;
  line-height: 1.6em;
  letter-spacing: 0.07em;
  font-size: 1.75em;
  color: #5a5a5a;
}
.three-text-body{
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0.07em;
  font-size: 1.25em;
}

@media (min-width: 310px) {
  .three-content {
    display: flex !important;
    flex-wrap: wrap;
  }
  .three-content-first{
    padding-bottom: 0;
  }
  .three-content-second{
    padding-top: 0;
  }
  .three{
    height: 90vh;
  }
}
@media (min-width: 576px) {
  .three{
    height: 70vh;
  }
}
@media (min-width: 768px) {
  .three-content {
    display: flex !important;
    flex-wrap: nowrap;
  }
  .three-content-first{
    padding-bottom: 7.5em;
  }
  .three-content-second{
    padding-top: 7.5em;
  }
  .three{
    height: 55vh;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
/* -------  */

/* FOURTH CSS  */




/* -------  */


/* FIFTH CSS  */




/* -------  */

/* ADVISORY CSS  */
.six {
    height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
}
.six-heading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  font-style: normal;
  line-height: 2em;
  font-size: 3rem;
  letter-spacing: 0em;
  color: #5a5a5a;
  text-align: center;
}
.six-text-head{
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1.25em;
}
.six-text-second-head{
  font-weight: bold;
  line-height: 1.6em;
  font-size: 1em;
}
.six-text-body{
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1em;
}
@media (min-width: 310px) {
  .six-content {
    display: flex !important;
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .six-content {
    display: flex !important;
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
/* -------  */